<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Required by older versions of Google Play services to create IID tokens -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />

    <application
        android:allowBackup="false"
        android:configChanges="keyboardHidden|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:debuggable="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ucen_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.example.Account.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.example.Account.IntroScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.example.TestActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name="com.example.example.Account.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.example.Account.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.example.Account.ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TitleBar" />
        <activity
            android:name="com.example.example.Council.CouncilActivity"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TitleBar" />
        <activity
            android:name="com.example.example.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TitleBar" />
        <activity
            android:name="com.example.example.Mess.MessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TitleBar" >
        </activity>
        <activity
            android:name="com.example.example.Complaints.ComplaintsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.TitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="com.example.example.Complaints.ComplainRegister"
            android:exported="false"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Complaints.ComplaintsActivity" />
        </activity>
        <activity
            android:name="com.example.example.Complaints.ComplainStatus"
            android:exported="false"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Complaints.ComplaintsActivity" />
        </activity>
        <activity
            android:name="com.example.example.Complaints.StatusDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Complaints.ComplaintsActivity" />
        </activity>
        <activity
            android:name="com.example.example.Council.CouncilWarden"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity
            android:name="com.example.example.Council.CouncilGenSecy"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity
            android:name="com.example.example.Council.CouncilFHostelSecy"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity
            android:name="com.example.example.Council.CouncilFHosMainSecy"
            android:exported="false"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity
            android:name="com.example.example.Council.CouncilFMessSecy"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Council.CouncilActivity" />
        </activity>
        <activity
            android:name="com.example.example.User.UpdatePassword"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.example.User.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="com.example.example.User.EditInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".User.ProfileActivity" />
        </activity>
        <activity
            android:name="com.example.example.Resources.ResourceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="com.example.example.Resources.CS.CSResourceDocs"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.CS.CSBranch" />
        </activity>
        <activity
            android:name="com.example.example.Resources.CS.CSBranch"
            android:exported="false"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.ResourceActivity" />
        </activity>
        <activity android:name="com.example.example.Resources.EE.EEBranch" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.ResourceActivity" />
        </activity>
        <activity
            android:name="com.example.example.Resources.EE.EEResourceDocs"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.EE.EEBranch" />
        </activity>
        <activity
            android:name="com.example.example.Resources.ME.MEBranch"
            android:exported="false"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.ResourceActivity" />
        </activity>
        <activity
            android:name="com.example.example.Resources.ME.MEResourceDocs"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.ME.MEBranch" />
        </activity>
        <activity
            android:name="com.example.example.Resources.Common.CommonBranch"
            android:exported="false"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.ResourceActivity" />
        </activity>
        <activity
            android:name="com.example.example.Resources.Common.CommonResourceDocs"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resources.Common.CommonBranch" />
        </activity>
        <activity
            android:name="com.example.example.Feedback.Feedback"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="com.example.example.Settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/SettingsTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <receiver
            android:name="com.example.example.Mess.messnotification.AlarmBootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.example.Mess.messnotification.BreakfastAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        <receiver
            android:name="com.example.example.Mess.messnotification.LunchAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        <receiver
            android:name="com.example.example.Mess.messnotification.TiffinAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        <receiver
            android:name="com.example.example.Mess.messnotification.DinnerAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <service android:name="com.google.firebase.components.ComponentDiscoveryService" >
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>